.root {
  text-align: center;
}

.header {
  background-color: #222;
  padding: 10px;
  color: white;
  font-size: 20pt;
}

.intro {
  font-size: 15pt;
}

td {
  border: 1px solid black;
  width: 50px;
  height: 50px;
}
